<div class="page-body">
  <div class="row center">
    <div class="col s12 m12 top-page__logo-container">
      <%= image_bundle_tag "logo-color-1.png", {class: "top-page__logo-img", alt: "Teppan"} %>
    </div>
    <div class="top-page__subtitle">あなたのその鉄板ネタ、売れるかも？</div>
    <div class="top-page__subtitle">ここぞという時の鉄板ネタ、買えるかも？</div>
    </div>
  </div>
</div>
