<div class="page-body-container">
  <div class="row top-page-text">
    <div class="center-align">
      <div class="top-page-logo">TEPPAN（ロゴ）</div>
      <div class="top-page-subtitle">・あなたのその鉄板ネタ、売れるかも？</div>
      <div class="top-page-subtitle">・ここぞという時の鉄板ネタ、買えるかも？</div>
    </div>
  </div>
</div>
<script>
$(function() {
  $(".top-page-subtitle").css("color","orange");
});
</script>