<% @page_title = 'フォロー中' %>
<% breadcrumb :following_list, @user %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m12 content">
      <div class="row content-header">
        <%= render partial: "layouts/breadcrumbs" %>
      </div>
      <div class="row follow-index">
        <h1 class="following-index__title">フォロー中(<%= @followings.count %>)</h1>
        <% if @followings %>
          <ul class="follow-list collection">
            <%= render partial: "followings/following", collection: @followings %>
          </ul>
        <% else %>
          <p>（ユーザーはいません）</p><br><br>
        <% end %>
      </div>
    </div>
  </div>
</div>