<% breadcrumb :edit_externalaccount, @ext_acct %>
<div class="page-body-container">
  <p><%= breadcrumbs separator: "  &rsaquo;  ", :class => "breadcrumbs custom" %></p>
  <div class="row">
    <div class="col s12 m9 user-page">
      <h1 class="h1_class">銀行口座 変更</h1>
      <div class="collection z-depth-0 user-page">
        <%= form_with model: @ext_acct, local: true, method: :patch do |form| %>
          <%= render :partial => "ext_acct_form", locals: { f: form } %>
          <%= form.submit "更新",data: {disable_with: '送信中...'}, class: "btn btn-primary withripple custom" %>
        <% end %>
      </div>
    </div>
  </div>
</div>