<h2><%= @inquiry.email %> 様</h2>
　<p>
　  この度は、お問い合わせ頂きありがとうございます。<br>
　  下記のとおりご質問を受付けました。
　  担当者より返信させて頂くまで今しばらくお待ち下さい。
　</p>
  <p>ご質問内容</p>
  <p><%= @inquiry.message %></p>

  <p>今後とも Teppan をよろしくお願い致します。</p>