<li class="collection-item custom" >
  <%= form_for [commentable, newcomment] do |f| %>
    <%= f.text_area :text, placeholder: 'コメントを書いて下さい', style: 'width: 100%; height: 4rem;' %>
    <%= f.submit "コメント", class: "btn btn-primary withripple custom" %>
  <% end %>
</li>