.account-show {

  &__balance {
    margin-bottom: 3rem;
  }
  
  &__bank-account {
    margin-bottom: 3rem;
  }
  
  &__individual {
    margin-bottom: 3rem;
  }

  &__identification {
    margin-bottom: 3rem;
  }

  &__missing-info {
    color: $tp-errormessage;
    margin: 3rem 0;
  }
  
  &__btn {
    &.btn.waves-effect {
      @include button-normal    
    }
    
    &.btn.inactive {
      @include button-inactive
    }
  }
  
  &__terminate {
    &.btn.waves-effect {
      @include button-delete      
    }
  }
}