.account-show {

  &__balance {
    margin-bottom: 2rem;
    &.btn.waves-effect {
      @include button-normal      
    }
  }
  
  &__bank-account {
    margin-bottom: 2rem;
    &.btn.waves-effect {
      @include button-normal      
    }
  }
  
  &__individual {
    margin-bottom: 2rem;
    &.btn.waves-effect {
      @include button-normal      
    }
  }
  
  &__terminate {
    &.btn.waves-effect {
      @include button-delete      
    }
  }
}