.review-new {
  &.collection-item {
    
  }
  
  &__prompt {
    margin: 0.5rem 0;
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  &__rate {
    height: 4rem;
  }
  
  &__hint {
    height: 1.6rem; 
    color: $tp-orange;
  }
  
  &__textarea {
    width: 100%; 
    height: 6rem;
    border-color: $tp-lightgray;
    padding: 0.5rem;
    margin: 0 0 0.5rem 0;
  }
  
  &__author-image {
    @include user-img-sm;
  }
  
  &__submit {
    &.btn.waves-effect {
      @include button-normal;
    }
  }
}