.tokutei {
  
  &__pageheader {
    
  }
  
  &__pagebody {
    padding: 1rem;
    font-size: 1.3rem;
  }
  
  &__h2 {
    font-size: 1.5rem;
  }
  
  &__ol-type1 {
    margin-left: 0.5rem;
    padding: 0 0 0 1.4rem;
  }
  
  &__li-disc {
    list-style-type: disc !important;
    margin-left: 2rem;
  }
}
