.trade-new {
  &__items {
    margin: 2rem;
  }
  
  &__table {
    &-row {
      &-total {
        font-weight: bold;
      }
    }
    &-column1 {
      
    }
    &-column2 {
      text-align: right;
    }
  }
  
  &__button {
    
  }
}

.js-trade-new {
  &__stripe-checkout {
    &.btn.waves-effect {
      @include button-normal;
    }
  }
}