.user-password-edit {
  
  &__form {
    padding: 1rem;
  }
  
  &__error {
    color: $tp-errormessage;
  }
  
  &__field {

    width: 27rem;
    margin: 2rem 0;

    &-label {
      color: $tp-gray;
    }
    
    &-input {
      
    }
  }
  
  &__pending-message {
    color: $tp-errormessage;
  }
  
  &__submit {
    &.btn.waves-effect {
      @include button-normal;
    }
  }
}