.user-password-new {
  
  &__form {
    padding: 1rem;
  }
  
  &__error {
    color: $tp-errormessage;
  }
  
  &__email {
    margin: 2rem 0;
    &-input {
      
    }
  }
  
  &__submit {
    &.btn.waves-effect {
      @include button-normal;
    }
  }
}