.user-register-new {
  
  &__form {
    margin: 0 0 2rem 0;
  }
  
  &__field {
    max-width: 28rem;
    height: 7rem;
  }
  
  &__email {
    height: 2rem;
  }
  
  &__password {
    height: 2rem;
    &-message {
      color: $tp-gray
    }
  }
  
  &__login {
    &.btn.waves-effect.waves-input-wrapper {
      @include button-normal;
      margin-bottom: 2rem;
    }
  }
}