.user-show {

  &-profile {

    min-height: 5rem;

    &__left {
      margin: 0;
      padding: 0;
    }
    
    &__right {
      &.col.s9.m9 {
        line-height: 2rem;
        padding-left: 0.5rem;
      }
    }

    &__nickname {
      margin: 0.5rem 0 1rem 0;
    }
    
    &__avatar {
      &-container {
        @include sp {
          padding: 0.5rem 0 0 0;
        }
        @include pc {
          padding: 0.5rem 0 0 2.5rem;
        }
      }
      
      &-img {
        @include user-img-xl
      }
    }
    
    &__basic {
      font-size: 1.5rem;
      margin: 0.2rem 0;
      line-height: 2rem;
    }
    
    &__prouser {
      color: $tp-green;
      &-icon {
        &.material-icons {
          font-size: 2rem;
        }
      }
    }
    
    &__sns {
      margin: 0.5rem 0 0 0;
    }
    
    &__rating {
      color: $tp-orange;
      font-size: 1.6rem;
      font-weight: bold;
    }
    
    &__follow {
      font-size: 1.4rem;
      line-height: 2rem;
      color: $tp-orange;
      
      &ing {
        margin: 0 0.5rem 0 0;
        float: left;
        min-width: 10rem;
      }
      a{
        color: $tp-orange;
        font-size: 1.4rem;
        font-weight: bold;
      }
      &ed {
        margin: 0 0.5rem 0 0;
        float: left;
      }
      &-tag {
        margin-right: 0.5rem;
        float: left;
      }
      &-count {
        padding: 0 0.5rem;
        float: left;
      }
    }
    
    &__more {
      &.material-icons {
        font-size: 1.3rem;
        color: $tp-gray;
      }
    }
    
    &__reported {
      font-size: 1.3rem;
      color: red;
    }
    
    &__lower {
      margin-top: 2rem;
    }
    
    &__introduction {

    }
  }

  &-contents {

    &__tab {
      &-menu {
        margin: 0;
        padding: 0 0 0 0.5rem;
      }
      &-index {
        display: inline-block;
        width: 8.5rem;
        height: 3rem;
        line-height: 1rem;
        padding: 10px 10px 5px;
        cursor: pointer;
        background-color: $tp-orange-light;
        color: $tp-orange-dark; // #e65100
        border-top-right-radius: 10px;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        &.selected {/* .tab-menuの中のliの内、.selectedが与えられているものに対する記述 */
          background-color: $tp-orange;
          color: #fff;
        }
      }
      &-panel {
        background-color: #fff;
        min-height: 360px;
      }
    }
    
    &__netas {
      &.collection {

      }
    }
    
    &__topics {
      
    }
    
    &__links {
      &.btn.waves-effect {
        @include button-normal;
      }
      &--inactive.btn{
        @include button-inactive;
      }
    }
    
    &__n-advance {
      padding: 0 0 1.5rem 0;
    }
    
    &__free-neta-check {
      &--pass.material-icons {
        font-size: 1.8rem;
        color: $tp-green;
        margin: 0.5rem 0 0 3rem;
      }
      &--fail.material-icons {
        font-size: 1.8rem;
        color: $tp-orange-dark;
        margin: 0.5rem 0 0 3rem;
      }
    }
    
    &__rating {
      color: $tp-orange;
      font-size: 1.6rem;
      font-weight: bold;
    }
    
    &__trades.striped {
      font-size: 1.2rem;
    }
  }
 
}