// Colors
$tp-orange         : #ff9800;
$tp-orange-light   : #ffe0b2;
$tp-orange-dark    : #f35702;
$tp-green          : #42D608;
$tp-hyperlink      : #4d9902;
$tp-notice         : #b2ff59;
$tp-alert          : #f7b8ff;
$tp-hashtag        : #e4e4e4;
$tp-gray           : #616161;
$tp-lightgray      : #bdbdbd;
$tp-superlightgray : #fafafa;
$tp-errormessage   : #f44336;

// Button
$btn-border-radius    : 0.7rem;
$btn-gradient-top     : #27EB00;
$btn-gradient-bottom  : #689f38;

// Media query
@mixin sp {
  @media (max-width: 767px) { @content; }
}
@mixin pc {
  @media (min-width: 768px) { @content; }
}