.account-form {
  &__name {
    
  }
  
  &__gender {
    width: 11rem;
  }
  
  &__dob {
    width: 14rem;
  }
  
  &__address {
    
  }
  
  &__postal-code {
    margin: 1rem 0 0 0;
    width: 11rem;
  }
  
  &__phone {
    width: 15rem;
  }
  
  &__user-agreement {
    margin: 1rem 0;
    &-tag {
      font-size: 1.4rem !important;
      padding-left: 1rem !important;
      color: black !important;
    }
  }
  
  &__submit {
    &.btn.waves-effect {
      @include button-normal;
    }
  }
}