.js-card-content__star{
  img {
    height: 1.5rem;
  }
}

.star-rating-text{
  color: $tp-orange;
  font-size: 1.3rem;
  font-weight: bold;
}

.new-star-rating{
  img{
    width: 1.4rem;
    height: 1.4rem;
  }
}