trix-editor {
  @include sp { 
    height: 25rem;
    font-size: 1.3rem;
  }
  @include pc {
    height: 30rem;
    font-size: 1.4rem;
  }
  overflow-y: auto;
  ul {
    li {
      list-style-type: disc !important;
      margin-left: 1.5rem;
    }
  }
  ol {
    padding-left: 1.5rem;
  }
}

.trix-content {
  * {
    color: black;
    line-height: 2.3rem;
    // font-size: 1.3rem;
  }
  h1 {
    margin: 0 0 1rem 0;
  }
  a{
    color: $tp-hyperlink;
  }
  ul {
    padding-left: 0.5rem;
    li {
      list-style-type: disc;
      margin-left: 1.2rem;
    }
  }
  ol {
    padding-left: 0.5rem;
  }
  .attachment--preview {
    text-align: left;
    img{
      @include sp { 
        max-width: 35rem;
      }
      @include pc { 
        max-width: 50rem;
      }
    }
    .attachment__caption{
      text-align: left;
      color: $tp-gray;
      font-size: 1rem;
    }
  }
  
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}

