<% @page_title = "プロフィール変更" %>
<% breadcrumb :edit_user, current_user %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m6 content">
      <div class="row user-edit">
        <% if @user.errors.any? %>
          <%= render :partial => "users/errorform" %>
        <% end %>
        <% if @user.nickname.present? %>
          <%= render :partial => "layouts/breadcrumbs" %>
          <%= render :partial => "users/form_normal" %>
        <% else %>
          <%= render :partial => "users/form_initial" %>
        <% end %>
      </div>
    </div>
  </div>
</div>