<div class="page-body-container">
  <div class="row">
    <div class="col s12 m9 offset-m1">
      <h1 class="h1_class">リクエスト</h1>
      <div class="card white">
        <div class="card-content black-text">
          <p><%= @message %></p>
          <br>
          <%= link_to '戻る', request_path(params[:id]) %>
        </div>
      </div>
    </div>
  </div>
</div>