<% @page_title = 'フォロワー' %>
<% breadcrumb :followed_list, @user %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m9 content">
      <div class="row content-header">
        <%= render partial: "layouts/breadcrumbs" %>
      </div>
      <div class="row follow-index">
        <h1 class="following-index__title">フォロワー(<%= @followers.count %>)</h1>
        <% if @followers %>
          <ul class="follow-list collection">
            <%= render partial: "followers/follower", collection: @followers %>
          </ul>
        <% else %>
          <p>（ユーザーはいません）</p><br><br>
        <% end %>
      </div>
    </div>
  </div>
</div>