html {
	font-size: 62.5%; // Root font size 10px = 16px(browser default) * 62.5%
}

body{
  @include sp { font-size:  1.3em; } 
  @include pc { font-size:  1.4em; } 
  background-color: white;
}

.page-body{
  margin: 0;
  padding: 1rem;
  min-height: 100rem;
}

a {
  color: $tp-hyperlink;
}

label {
  font-size: 1.2rem;
  color: $tp-gray;
}

input {

}


textarea{
  border-color: $tp-lightgray;
}

hr{
  margin: 1.5rem 0rem;
}

.row{
  margin-bottom: 1rem;
}

.notice {
  background: $tp-notice;
}

.alert {
  background: $tp-alert;
}

.error-message{
  color: red;
  font-size:  1.3rem;
}

h1{
  font-size: 1.8rem;
  font-weight: bold;
  margin: 2rem 0 1.5rem 0;
}

h2{
  font-size: 1.6rem;
  font-weight: bold;
  margin: 2rem 0 1.5rem 0;
}

.top-page-logo{
  width:  120px;
  height: 100px;
}

i.left {
  margin-right: 0;
}

.clearfix {
	display: block;
	clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
