html {
	font-size: 62.5%; // Root font size 10px = 16px(browser default) * 62.5%
}

body{
  @include sp { font-size:  1.5em; } 
  @include pc { font-size:  1.6em; } 
  background-color: white;
}

.page-body{
  @include sp {
    margin: 0;
    padding: 1rem;
    min-height: 100rem;
  }
  @include pc {
    width: 75rem;
    margin: 0 auto;
    padding: 1rem;
    min-height: 100rem;
  }
}

a {
  color: $tp-hyperlink;
}

label {
  font-size: 1.2rem;
  color: $tp-gray;
}

strong {
  font-weight: bold;
}

input {

}
input[type=date]:not(.browser-default) {
  font-size: 1.4rem;
}

textarea{
  border-color: $tp-lightgray;
}

hr{
  margin: 1.5rem 0rem;
}

td {
  padding: 0.5rem 0.5rem;
}

.table-90 {
  width: 90%;
}

.table-80 {
  width: 80%;
}

.table-70 {
  width: 70%;
}

.table-60 {
  width: 60%;
}

.table-50 {
  width: 50%;
}

.table-40 {
  width: 40%;
}

.table-30 {
  width: 30%;
}

.table-20 {
  width: 20%;
}

.table-10 {
  width: 10%;
}

.row{
  margin-bottom: 1rem;
}

.notice {
  background: $tp-notice;
  padding: 0 1rem;
}

.alert {
  background: $tp-alert;
  padding: 0 1rem;
}

.error-message{
  color: $tp-errormessage;
  font-size:  1.3rem;
}

.field_with_errors {
  display: inline;
}

h1{
  font-size: 1.8rem;
  font-weight: bold;
  margin: 2rem 0 1.5rem 0;
}

h2{
  font-size: 1.6rem;
  font-weight: bold;
  margin: 2rem 0 1.5rem 0;
}

.top-page-logo{
  width:  120px;
  height: 100px;
}

i.left {
  margin-right: 0;
}

.clearfix {
	display: block;
	clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

[type="checkbox"].reset-checkbox,
[type="checkbox"].reset-checkbox:checked,
[type="checkbox"].reset-checkbox:not(checked) {
  opacity: 1;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

[type="checkbox"].reset-checkbox+span::before,
[type="checkbox"].reset-checkbox+span::after,
[type="checkbox"].reset-checkbox:checked+span::before,
[type="checkbox"].reset-checkbox:checked+span::after {
  display: none;
}
