@mixin chip-small{
  @extend .chip;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: $tp-hashtag;
  a{
    font-size: 1.2rem;
    color: $tp-graytext;
  }
}

// .chip{
//   a{
//     font-size: 1rem;
//     color: $tp-graytext;
//   }
//   .close{
//     font-size: 1rem;
//     line-height: 2rem;
//   }
// }