@mixin user-img-sm {
  @extend .circle;
  height: 2rem;
  width: 2rem;
}

@mixin user-img-md {
  @extend .circle;
  height: 6rem;
  width: 6rem;
}

@mixin user-img-lg {
  @extend .circle;
  height: 7rem;
  width: 7rem;
}

@mixin user-img-xl {
  @extend .circle;
  height: 12rem;
  width: 12rem;
}