@mixin user-img-sm {
  @extend .circle;
  height: 2.5rem;
  width: 2.5rem;
}

@mixin user-img-lg {
  @extend .circle;
  height: 7rem;
  width: 7rem;
}

@mixin user-img-xl {
  @extend .circle;
  height: 10rem;
  width: 10rem;
}