<% @page_title = "特定商取引法に基づく表示" %>
<% breadcrumb :tokutei %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m12 tokutei">
      <div class="row tokutei__pageheader">
        <div class="col s12 m12 tokutei__breadcrumbs">
          <%= breadcrumbs separator: "  &rsaquo;  ", :class => "breadcrumbs-tp" %>
        </div>
      </div>
      <div class="row tokutei__pagebody">
        <h1 class="tokutei__h1">特定商取引法に基づく表示</h1>
        <h2 class="tokutei__h2">1.事業者の名称</h2>
        <p class="tokutei__paragraph">TEPPAN</p>
        <h2 class="tokutei__h2">2.住所</h2>
        <p class="tokutei__paragraph">東京都渋谷区渋谷２－１９－１５　宮益坂ビルディング６０９</p>
        <h2 class="tokutei__h2">3.お問合せフォーム</h2>
        <p class="tokutei__paragraph">https://teppan-neta.com/inquiries/new</p>
        <h2 class="tokutei__h2">4.商品の販売価格・サービスの対価</h2>
        <p class="tokutei__paragraph">各商品・サービスのご購入ページにて表示する価格</p>
        <h2 class="tokutei__h2">5.対価以外に必要となる費用</h2>
        <p class="tokutei__paragraph">インターネット接続に必要な通信回線等の諸費用</p>
        <h2 class="tokutei__h2">6.支払方法</h2>
        <p class="tokutei__paragraph">クレジットカード決済</p>
        <h2 class="tokutei__h2">7.代金の支払時期</h2>
        <p class="tokutei__paragraph">ご利用のクレジットカードの締め日や契約内容により異なります。ご利用されるカード会社までお問い合わせください。</p>
        <h2 class="tokutei__h2">8.商品引渡しまたはサービス提供の時期</h2>
        <p class="tokutei__paragraph">クレジットカードの決済が完了後、すぐにご利用頂けます。</p>
        <h2 class="tokutei__h2">9.返品・キャンセルに関する特約</h2>
        <p class="tokutei__paragraph">本サイトで販売する商品・サービスについては、商品の特性上、購入手続完了後の返品またはキャンセルをお受け出来ません。</p>
      </div>
    </div>
  </div>
</div>