<div class="page-body">
  <div class="row">
    <div class="col s12 m12 content">
      <div class="user-password-create__message">
        お客様のメールアドレスにパスワード再設定のご案内をお送りしました。
      </div>
    </div>
  </div>
</div>
