<table class="striped">
  <tbody>
    <tr>
      <td class="table-40">金融機関名</td>
      <td class="table-60"><%= bank_info["bank_name"] %></td>
    </tr>
    <tr>
      <td class="table-40">支店名</td>
      <td class="table-60"><%= bank_info["branch_name"] %></td>
    </tr>
    <tr>
      <td class="table-40">口座番号</td>
      <td class="table-60"><%= bank_info["account_number"] %></td>
    </tr>
    <tr>
      <td class="table-40">口座名義</td>
      <td class="table-60"><%= bank_info["account_holder_name"] %></td>
    </tr>
  </tbody>
</table>