<% @page_title = "お客様情報の入力" %>
<% breadcrumb :new_account, current_user %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m6 content">
      <div class="row content-header">
        <%= render partial: "layouts/breadcrumbs" %>
      </div> 
      <div class="row account-new">
        <h1>お客様情報</h1>
        <%= form_with model: [@user, @account_form], method: :post, url: confirm_user_accounts_path, local: true, :class => "account-new__form" do |form| %>
          <% if @account_form.errors.any? %>
            <%= render :partial => "errorform" %>
          <% end %>
          <input type="hidden", name="mode", value="new" >
          <%= render :partial => "accountform", locals: { f: form, user: @user } %>
        <% end %>
      </div>
    </div>
  </div>
</div>