<li class="review-new collection-item">
  <%= form_with model: [neta, new_review], url: neta_reviews_path(neta.id), local: true, method: :post do |f| %>
    <div class="review-new__prompt">評価して下さい！</div>
    <%= f.hidden_field :rate, id: :reviewnew__rate %>
    <div class="review-new__rate">
      <div class='js-review-new__star'></div>
      <div id="hint1" class="review-new__hint"></div>
    </div>
    <%= f.text_area :text, :placeholder => 'コメントを書いてください', :class => "review-new__textarea", :maxlength => '200' %>
    <%= f.submit "レビューを投稿", class: "review-new__submit btn waves-effect" %>
  <% end %>
</li>