.neta-index {
  
  color: black;
  
  &__title {
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
    margin: 0.5rem 0;
  }
  
  &__price {
    color: $tp-orange;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 0 0 1rem;
  }
  
  &__star-count {
    @include star-count;
  }
  
  &__hashtag {
    @include hashtag-small;
  }
  
  &__author-image {
    @include user-img-sm;
  }
  
  &__footer {
    margin: 0.5rem  0 0 0;
    
    &-text {
      font-size: 1.1rem;
      color: $tp-gray;
    }
  }
}



.neta-price-inactive{
  color: #bdbdbd;
  font-weight: bold;
}