.review {

  &-index {
    
    &__star-count {
      @include star-count;
      margin: 0 0 0 1.5rem;
    }
    
    &__text {
      font-size: 1.3rem;
      color: black;
      margin: 0.5rem 0;
    }
    
    &__footer {
      margin: 0.5rem  0 0 0;
  
      &-text {
        font-size: 1.1rem;
        color: $tp-gray;
      }
      
      &-icons {
        float: right;
        margin-top: 0.5rem;
      }
    }
    
    &__author-image {
      @include user-img-sm;
    }
  }
  
}