.topics-index {

  &.card {
    width: 17rem;
    float: left;
    margin: 0 3px 7px 3px;
  }
  
  &.card-image {
    img{
        height: 11rem;
    }    
  }
  
  &.card-content {
    padding: 0.4rem;
    height:  9.5rem;
  }
  
  &__title {
    min-height: 3.5rem;
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
  }
  
  &__author-image {
    @include user-img-sm;
  }
  
  &__author-name {
    font-size: 1.1rem;
    color: black;
  }

  &__star-count {
    color: $tp-orange;
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  &__neta-icon {
    &.material-icons {
      font-size: 1.2rem;
      color: $tp-orange;
      margin-left: 0.5rem;
    }
  }
  
  &__icon-count {
    color: $tp-orange;
    font-size: 1.2rem;
  }
}
