<div class="footer-contents">
  <ul>
    <li>ご利用ガイド</li>
    <li>利用規約</li>
    <li>プライバシーポリシー</li>
    <li><a href="<%= new_inquiry_path %>" class="page-footer-text">お問い合わせ</a></li>
  </ul>
  <div class="hide-on-med-and-down">
    <div class="line-it-button" data-lang="ja" data-type="share-b" data-url="#{<%= root_path %>}" style="display: none;"></div>
    <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
    &nbsp;&nbsp;
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-hashtags="teppan" data-show-count="false"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
<div class="footer-copyright">© 2021 Teppan</div>