<div class="error-message">
  入力した内容にエラーが<%= @account_form.errors.count %>件あります：
  <ul>
    <% @account_form.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>