<% @page_title = "ご本人様情報の入力" %>
<% breadcrumb :new_account, current_user %>
<div class="page-body-container">
  <%= breadcrumbs separator: "  &rsaquo;  ", :class => "breadcrumbs custom" %>
  <div class="row">
    <div class="col s12 m9 user-page">
      <h1>お客様情報</h1>
      <div class="collection z-depth-0 account-form">
        <%= form_with model: [@user, @account], local: true, method: :post, url: {action: 'confirm'} do |form| %>
          <div class="col s12 m12" id="account-form-field-row">
            <% if @account.errors.any? %>
              <%= render :partial => "errorform" %>
            <% end %>
          </div>
          <input type="hidden", name="mode", value="new" >
          <%= render :partial => "accountform", locals: { f: form, user: @user } %>
        <% end %>
      </div>
    </div>
  </div>
</div>