<% @page_title = "#"+@tag.hashname %>
<% breadcrumb :hashtag, @tag %>
<div class="page-body-container">
  <p><%= breadcrumbs separator: "  &rsaquo;  ", :class => "breadcrumbs custom" %></p>
  <div class="row">
    <div class="col s12 m9 show">
      <% unless @netas.exists? %>
        <p> (ネタの投稿はまだありません) </p><br>
      <% else %>
        <h1>#<%= @tag.hashname %></h1>
        <ul class="collection">
          <%= render partial: "netas/neta", :collection => @netas %>
        </ul>
      <% end %>
    </div>
  </div>
</div>