<br>
<p>いつもTeppanをご利用頂き誠にありがとうございます。</p>
<% if @resource.try(:unconfirmed_email?) %>
  <p>お客様のメールアドレスを<%= @resource.unconfirmed_email %>に変更する旨を承りました。</p>
<% else %>
  <p>お客様のメールアドレスが<%= @resource.email %>に変更されたことをお知らせ致します。</p>
<% end %>
<p>Teppan運営チーム</p>