<% @page_title = "プライバシーポリシー" %>
<% breadcrumb :policy %>
<div class="page-body">
  <div class="row">
    <div class="col s12 m12 policy">
      <div class="row policy__pageheader">
        <div class="col s12 m12 policy__breadcrumbs">
          <%= breadcrumbs separator: "  &rsaquo;  ", :class => "breadcrumbs-tp" %>
        </div>
      </div>
      <div class="row policy__pagebody">
        <h1>プライバシーポリシー</h1>
        <p>
          TEPPAN（以下「当社」といいます。）は、当社の提供するサービス（以下「本サービス」といいます。）における、ユーザーについての個人情報を含む利用者情報の取扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます。）を定めます。
        </p>
        <h2>1.	収集する利用者情報及び収集方法</h2>
        <p>
          本ポリシーにおいて、「利用者情報」とは、ユーザーの識別に係る情報、通信サービス上の行動履歴、その他ユーザーまたはユーザーの端末に関連して生成または蓄積された情報であって、本ポリシーに基づき当社が収集するものを意味するものとします。 本サービスにおいて当社が収集する利用者情報は、その収集方法に応じて、以下のようなものとなります。
        </p>
        <ol type="1" class="policy__ol-type1">
          <li>ユーザーからご提供いただく情報</li>
          <li>ユーザーが本サービスの利用において、他のサービスと連携を許可することにより、当該他のサービスからご提供いただく情報</li>
          <li>ユーザーが本サービスを利用するにあたって、当社が収集する情報</li>
          <li>ユーザーが本サービスを利用するにあたって、当社がユーザーの個別同意に基づいて収集する情報</li>
        </ol>
        <h2>2.	利用目的</h2>
        <p>本サービスのサービス提供にかかわる利用者情報の具体的な利用目的は以下のとおりです。</p>
      </div>
    </div>
  </div>
</div>